Employee.xsd

<?xml version="1.0 ?>
<xs:schema xmlns:xs="https://www.w3.org/2001/XMLSchema">
	<xs:element name="Employee>
	<xs:complexType>
	<xs:sequence>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Name" type="xs:int"/>
	</xs:sequence>
	<xs:attribute name="id" type=xs:string" use="required"/>
	</xs:complexType>
	</xs:element>
	</xs:schema>
